
.agregar {
	width: 14.5vw;
	height: 4.4vw;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 1.3vw;
	border-color: #86d6c6;
	border-radius: 35px 35px 35px 35px;
	-moz-border-radius: 35px 35px 35px 35px;
	-webkit-border-radius: 35px 35px 35px 35px;
	box-sizing: border-box;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.10), 0 10px 10px rgba(0, 0, 0, 0.10);
	margin-top: 13%;
	margin-left: -10%;
}

.agregar:active {
	transform: translateY(2px);
}

.agregar:hover {
	box-shadow: 0 10px 18px rgba(0, 0, 0, 0.12), 0 15px 12px rgba(0, 0, 0, 0.12);
}

.nuevoestudiante
{
    margin-top: 2%;
    
}


.divtextoestudiante
{
	background-color: #80cbc4;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.10), 0 10px 10px rgba(0, 0, 0, 0.10);
	height: 5vw;
	margin-top: -7%;
}

#textonuevoestudiante
{
	font-size: 2vw;
	text-align: center;
    margin-top: 3%;
	color: #ffffff;
}


