@font-face {
	font-family: "Roboto";
	src: url("../css/Roboto/Roboto-Regular.ttf");
}

body {
	font-family: "Roboto";
	overflow: hidden;
}
.estudiante {
	text-align: center;
	margin-bottom: 10%;
}
.nyap {
	margin: 0%;
}
img.avatar {
	border-style: solid;
	border-color: #a9a9a9;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

img.avatar.seleccionado {
	border-width: 3px;
	border-color: #86c911;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}

img.avatar.noSeleccionado {
	border-width: 1px;
	border-color: #a9a9a9;
}

.row {
	margin-bottom: 0;
}

ul:not(.browser-default) {
	background-color: #fcfcfc;
}
.collection .collection-item {
	background-color: #fcfcfc;
	border-bottom: 0px;
}

.collection.collection-item.palabras {
	background-color: #fcfcfc;
	border-bottom: 0px;
}
.collection {
	border: 0;
}

#imgdocente {
	margin-left: 18%;
	width: 12vw;
	height: 12vw;
	margin-top: 10%;
}

#nombredocente {
	font-size: 1.3vw;
	text-align: center;
	text-align: center;
	font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

#hola {
	font-size: 2vw;
	text-align: center;
	font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
	margin-top: 15%;
}

#menu {
	background-color: #00919e;
}

#reiniciar {
	margin-top: 55%;
	color: aliceblue;
	font-size: 1.3vw;
	text-align: center;
	font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

#terminar {
	color: aliceblue;
	font-size: 1.3vw;
	text-align: center;
	font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
	margin-top: 8%;
}

.iconomenu {
	line-height: 14px;
	margin-left: 0.7%;
	margin-top: 1.5%;
	position: fixed;
	color: #ffffff;
}

.barramenu {
	width: 2.1vw;
	font-size: 1.3vw;
	height: 100%;
	margin-left: -3%;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	background-color: #00909e;
}
