body
{
  cursor:  url(../public/cursor2.png) , pointer;
}
a:hover{
    cursor:  url(../public/aprovechar.png) , pointer;
}



a.links_nav {

font-size: 20px;
font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
font-weight: bold;
}

#links_nav
{
    font-size: 20px;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-weight: bold;

}

#nav
{
  background-color:#007065;
  box-shadow: 0px 8px 6px -2px rgba(140,116,38,1);
}

#drop
{
    font-size: 20px;
    color: #007065;
    font-weight: 600;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-weight: bold;
}

#dias{
    float: left;
    margin: 1%;
  }

#contdias {
   margin-left: 7%;
}

  #titulo-ej-dias
  {
        text-align: center;
        color: #0288d1;
        text-decoration: underline;
        font-family: sans-serif;
        font-weight: bold;
        margin-top: 6%;
  }


#mananaEs
{
    font-size: 26px;

}

#ayerFue
{
    font-size: 26px;

}

#volver
{
    margin-left: -18%;

}
.volver
{
  font-size: 24px;
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  font-weight: bold;
}

.rectangulo{
margin-right: 20%;
margin-top: 4%;
background-color: #f7b71d;
color: white;
text-align: center;
font-weight: bold;
font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
font-size: 30px;
padding: 20px 20px 20px 20px;
border-radius: 35px 0px 35px 0px;
-moz-border-radius: 35px 0px 35px 0px;
-webkit-border-radius: 35px 0px 35px 0px;
box-sizing: border-box;
box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}



div#contenedordias
{
  width:100%;
  margin: auto;
  /*background: #90caf9;*/
  border: 10px #007065 solid;
  box-shadow: inset 0 0 5px 5px #007065;
/*  background-image:url(imagenes/fondodia.jpg); */
  background-size: 100% 100%;
  background-attachment: fixed;

}

body#index
{
  width:100%;
  height: 100%;
  margin: auto;
 /*  background-image:url(imagenes/fondo.jpg);
  background-size: 100% 100%;
  background-attachment: fixed;
*/
background-color: #ffdd67;

}

#tituloej
{
  font-size: 30px;
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  font-weight: bold;

}




img.hoverImages {
  margin:23%;
  padding: 10%;
  float:left;
	-webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;

    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 10px;
}

img.hoverImages:hover {
	cursor:pointer;
    margin-top: 10%;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    cursor:  url(../public/aprovechar.png) , pointer;
}

#ejercicios
{
    float: left;
    margin-left:10%;
    margin-top: 2%;

}

#textoej
{
  text-align: center;
  padding-left: 40%;
  font-size: 30px;
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  font-weight: bold;
  color: #00897b ;
}


#im1
{

   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
   border-radius: 10px;

}

#im1:hover {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  cursor:  url(../public/aprovechar.png) , pointer;
  }

#im2
{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);


  border-radius: 10px;
}
#im2:hover {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    cursor:  url(../public/aprovechar.png) , pointer;
}

#contdenom {
   margin-left: 20%;
   width: 80%;
   height: auto;
}

.botonessemana{

  height:120px;
  width:150px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}
.botonessemana:hover {
   box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
   cursor:  url(../public/aprovechar.png) , pointer;
}

#contenedorhoy
{
  margin-left: 7%;

}


.hoymanayer
{
  font-size: 32px;
  color: #007065;
  font-weight: 600;
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  font-weight: bold;
  height: 5vh;
  /*text-shadow: 2px 2px 4px;*/
  box-sizing: border-box;
}

header, .encabezado{
    height: 20vh;
}


main, .principal
{
  height: 40vh;
}

.consigna
{
  height: 5vh;
  font-size: 35px;
  color: #007065;
  font-weight: 600;
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  font-weight: bold;
  /*text-shadow: 2px 2px 4px;*/
  box-sizing: border-box;
}

.contenedordias
{
   width: 100%;
}

#correcta
{
  font-size: 45px;
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  font-weight: bold;
}



@media screen and (max-width: 1000px) {
.consigna
{
  font-size: 25px;
}
.hoymanayer
{
  font-size: 25px;
}
.rectangulo
{
  font-size: 22px;
}
#tituloej
{
  font-size: 25px;
}
#im1
{
  width: 200px;
  height: 200px;
}
#im2
{
  width: 200px;
  height: 200px;
}
}
