@font-face {
	font-family: 'Roboto';
	src: url('../css/Roboto/Roboto-Regular.ttf');
}

.estudiante {
	text-align: center;
	margin-bottom: 10%;
}
.nyap {
	margin: 0%;
}

img {
	border-style: solid;
}

.seleccionado {
	border-width: 5px;
	border-color: #86d6c6;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}

.noSeleccionado {
	border-width: 1px;
	border-color: #a9a9a9;
}

input[type='text']:not(.browser-default):disabled + label {
	color: #86d6c6;
}

.datospersonales {
	font-family: 'Roboto';
	font-size: 1.1vw;

	color: #3f3f3f;
}

.seguimiento {
	font-family: 'Roboto';
	font-size: 1.1vw;
	margin-left: 35%;
	font-weight: bold;
	color: #3f3f3f;
}

.contestudiantes {
	margin-top: 14%;
}

#divResultados {
	overflow: auto;
	height: 30vw;
}

.textoseguimiento {
	color: #86d6c6;
	font-weight: lighter;
}
