a.links_nav {

font-size: 20px;
font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
font-weight: bold;
}

#links_nav
{
    font-size: 20px;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-weight: bold;

}

#nav
{
  background-color:#007065;
}

#drop
{
    font-size: 20px;
    color: #007065;
    font-weight: 600;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-weight: bold;
}

#dias{
    float: left;
    margin: 1%;
    border: 1px;
    border-color: black;
  }

  #titulo-ej-dias
  {
        text-align: center;
        color: #0288d1;
        text-decoration: underline;
        font-family: sans-serif;
        font-weight: bold;
        margin-top: 6%;
  }
#carousel
{
       padding-top: 6%;
}


#carousel p
{
    font-size: 26px;

}

#carousel h2
{
    font-size: 35px;
}

#hoyEs
{
    font-size: 26px;
}

#mananaEs
{
    font-size: 26px;

}

#ayerFue
{
    font-size: 26px;

}

#volver
{
    padding-top: 7%;
    padding-left: 8%;
}



div#contenedordias
{
  width:100%;
  height: 100%;
  margin: auto;
  /*background: #90caf9;*/
  border: 20px #00bfa5 solid;
  box-shadow: inset 0 0 5px 5px #00897b;
  background-image:url(imagenes/fondodia.jpg);
  background-size: 100% 100%;
  background-attachment: fixed;

}

body#index
{
  width:100%;
  height: 100%;
  margin: auto;
 /*  background-image:url(imagenes/fondo.jpg);
  background-size: 100% 100%;
  background-attachment: fixed;
*/
background-color: #ffdd67;

}





.rectangulo{
margin-left: 20%;
margin-right: 20%;
margin-top: 6%;
background-color: #f7b71d;
color: white;
text-align: center;
font-weight: bold;
font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
padding: 20px 20px 20px 20px;
border-radius: 35px 0px 35px 0px;
-moz-border-radius: 35px 0px 35px 0px;
-webkit-border-radius: 35px 0px 35px 0px;
font-size: 30px;

}


img.hoverImages {
  margin:23%;
  padding: 10%;
  float:left;
	-webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}

img.hoverImages:hover {
	cursor:pointer;
    margin-top: 10%;
}

#ejercicios
{
    float: left;
    margin-left:9%;
    margin-top: 3%;
}

#textoej
{
  text-align: center;
  padding-left: 40%;
  font-size: 30px;
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  font-weight: bold;
  color: #00897b ;
}
