<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="../node_modules/material-icons/iconfont/material-icons.css" rel="stylesheet" />
		<link rel="stylesheet" href="../node_modules/materialize-css/dist/css/materialize.css" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Configuración Denominación</title>
	</head>
	<body>
		<style>
			@font-face {
				font-family: "Roboto";
				src: url("../css/Roboto/Roboto-Regular.ttf");
			}

			body {
				font-family: "Roboto";
			}
			.estudiante {
				text-align: center;
				margin-bottom: 10%;
			}
			.nyap {
				margin: 0%;
			}
			img {
				border-style: solid;
				border-color: #a9a9a9;
				box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
			}
			.seleccionado {
				border-width: 3px;
				border-color: #86c911;
				box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
			}

			.noSeleccionado {
				border-width: 1px;
				border-color: #a9a9a9;
			}

			.row {
				margin-bottom: 0;
			}

			ul:not(.browser-default) {
				background-color: #dbdbdb;
			}

			.collection .collection-item {
				background-color: #dbdbdb;
				border-bottom: 0px;
			}
		</style>
		<div class="row">
			<div class="col s4">
				<p>Estudiantes</p>
			</div>
			<div class="col s4">
				<p>Palabras</p>
			</div>
			<div class="col s4">
				<p>Seleccionadas</p>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s4">
				<i class="material-icons prefix">search</i>
				<textarea id="buscarEstudiante" onkeyup="searchNombre()" class="materialize-textarea"></textarea>
				<label for="buscarEstudiante">Buscar nombre</label>
			</div>

			<div class="input-field col s4">
				<i class="material-icons prefix">search</i>
				<textarea id="buscarPalabra" onkeyup="searchPalabra()" class="materialize-textarea"></textarea>
				<label for="buscarPalabra">Buscar palabra</label>
			</div>
		</div>

		<div class="row" style="max-height: 35vw; min-height: 35vw;" ,>
			<div id="divEstudiantes" class="col s4"></div>
			<div class="col s4"><ul id="listaPalabras" class="collection col s12 "></ul></div>
			<div class="col s4"><ul id="seleccionados" class="collection col s12"></ul></div>
		</div>

		<div class="row">
			<div class="input-field col s3">
				<select id="dificultad">
					<option value="" disabled>Elegir dificultad</option>
					<option value="Baja" selected>Baja</option>
					<option value="Media">Media</option>
					<option value="Alta">Alta</option>
				</select>
				<label>Dificultad</label>
			</div>
			<div class="input-field col s3">
				<select id="repeticiones">
					<option value="" disabled>Elegir repeticiones</option>
					<option value="5" selected>5</option>
					<option value="10">10</option>
					<option value="20">20</option>
				</select>
				<label>Repeticiones</label>
			</div>

			<div class="col s3 offset-s3">
				<button id="btnIniciar" class="btn waves-effect waves-light">
					Comenzar
					<i class="material-icons right">send</i>
				</button>
			</div>
		</div>

		<script src="../js/letterAvatar.js"></script>
		<script>
			document.addEventListener("DOMContentLoaded", function() {
				var elems = document.querySelectorAll("select");
				var instances = M.FormSelect.init(elems);
			});

			let listaAlumnos = [];
			let listaPalabras = [];
			const { app } = require("electron").remote;
			const path = require("path");
			const Database = require("better-sqlite3");
			const dbFile = path.join(app.getAppPath(), "db.sqlite");
			const db = new Database(dbFile);
			let query = "SELECT * FROM estudiantes";
			let row = db.prepare(query);
			let alumnosDB = row.all();
			alumnosDB.forEach((alumno) => {
				listaAlumnos.push(alumno);
			});

			query = "SELECT * FROM palabras";
			row = db.prepare(query);
			const palabrasDB = row.all();
			palabrasDB.forEach((palabra) => {
				listaPalabras.push(palabra);
			});

			var ul = document.getElementById("listaPalabras");
			for (let index = 0; index < listaPalabras.length; index++) {
				let palabra = listaPalabras[index].palabra;
				let idDB = listaPalabras[index].id;
				let listItem = document.createElement("li");
				listItem.setAttribute("idDB", idDB);
				listItem.setAttribute("class", "collection-item");
				listItem.textContent = palabra;
				ul.appendChild(listItem);
			}

			let listaSeleccionados = document.getElementById("seleccionados");
			let asd = document.querySelector("#listaPalabras ");
			asd.addEventListener("click", (e) => {
				if (e.target.tagName === "LI") {
					listaSeleccionados.appendChild(e.target);
				}
			});

			let listPalabras = document.getElementById("listaPalabras");
			let asd2 = document.querySelector("#seleccionados");
			asd2.addEventListener("click", (e) => {
				if (e.target.tagName === "LI") {
					listPalabras.appendChild(e.target);
				}
			});

			let div = document.getElementById("divEstudiantes");
			div.addEventListener("click", (e) => {
				if (e.target.tagName === "IMG") {
					console.log(e.target.getAttribute("nombre"));
					blankAllEstudiantes();
					e.target.setAttribute("class", "circle seleccionado");
				}
			});

			for (let index = 0; index < listaAlumnos.length; index++) {
				let nombreApellido = listaAlumnos[index].nombre + " " + listaAlumnos[index].apellido;
				let idDB = listaAlumnos[index].id;
				let listItem = document.createElement("div");
				let pal = document.createElement("p");
				pal.setAttribute("class", "nyap");
				listItem.setAttribute("class", "col s6 estudiante");
				pal.innerHTML = nombreApellido;

				let img = document.createElement("img");
				img.setAttribute("class", "circle noSeleccionado");
				img.setAttribute("hight", "80");
				img.setAttribute("width", "80");
				img.setAttribute("avatar", nombreApellido);
				img.setAttribute("nombre", listaAlumnos[index].nombre);
				img.setAttribute("apellido", listaAlumnos[index].apellido);
				img.setAttribute("edad", listaAlumnos[index].edad);
				img.setAttribute("descripcion", listaAlumnos[index].descripcion);
				listItem.innerHTML += img.outerHTML;
				listItem.innerHTML += pal.outerHTML;
				div.appendChild(listItem);
			}

			function searchNombre() {
				var input, i, filter, li, ul, txtValue;
				input = document.getElementById("buscarEstudiante");
				filter = input.value.toUpperCase();
				let childs = document.getElementById("divEstudiantes").getElementsByTagName("img");
				for (i = 0; i < childs.length; i++) {
					a = childs[i].getAttribute("nombre") + " " + childs[i].getAttribute("apellido");
					txtValue = a;
					console.log(txtValue);
					if (txtValue.toUpperCase().indexOf(filter) > -1) {
						childs[i].parentElement.style.display = "";
					} else {
						childs[i].parentElement.style.display = "none";
					}
				}
			}

			function searchPalabra() {
				var input, i, filter, li, ul, txtValue;
				input = document.getElementById("buscarPalabra");
				filter = input.value.toUpperCase();
				ul = document.getElementById("listaPalabras");
				li = ul.getElementsByTagName("li");

				for (i = 0; i < li.length; i++) {
					a = li[i].textContent;
					txtValue = a;
					if (txtValue.toUpperCase().indexOf(filter) > -1) {
						li[i].style.display = "";
					} else {
						li[i].style.display = "none";
					}
				}
			}

			function blankAllEstudiantes() {
				let childs = document.getElementById("divEstudiantes").getElementsByTagName("img");
				for (let index = 0; index < childs.length; index++) {
					childs[index].setAttribute("class", "circle noSeleccionado");
				}
			}

			let btnIniciar = document.getElementById("btnIniciar");
			btnIniciar.addEventListener("click", iniciar);

			function iniciar() {
				let selectDificultad = document.getElementById("dificultad");
				let selectRepeticiones = document.getElementById("repeticiones");
				let dificultad = selectDificultad.value;
				let repeticiones = selectRepeticiones.value;

				let listaSeleccionados = document.getElementById("seleccionados");
				let li = listaSeleccionados.getElementsByTagName("li");
				let idsSeleccionados = [];
				for (let index = 0; index < li.length; index++) {
					idsSeleccionados.push(li[index].getAttribute("idDB"));
					//console.log(li[index].getAttribute("idDB"));
				}
				console.log(idsSeleccionados);
				localStorage.setItem(
					"configuracion",
					JSON.stringify({ palabras: idsSeleccionados, tipo: "Imagen Real", repeticiones: repeticiones })
				);
				switch (dificultad) {
					case "Baja":
						location.href = "denominacion.html";
						break;
					case "Media":
						location.href = "denominacion3.html";
						break;
					case "Alta":
						location.href = "denominacion4.html";
						break;
					default:
						location.href = "denominacion.html";
						break;
				}
			}
		</script>

		<script type="text/javascript" src="../node_modules/materialize-css/dist/js/materialize.min.js"></script>
	</body>
</html>
