<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="../css/estilos.css" rel="stylesheet" type="text/css">
  <link href="../css/denominacion.css" rel="stylesheet" type="text/css">
  <link type="text/css" rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css">
  <link type="text/css" rel="stylesheet" href="../node_modules/materialize-css/dist/css/materialize.css"
    media="screen,projection" />
  <title>NombreApp</title>
</head>

<body>
  <nav id="nav">
    <div class="nav-wrapper container">
      <a href="#" id="tituloej" class="brand-logo center">Configuración Denominación</a>
      <ul class="left hide-on-med-and-down" id="volver">
        <li><a class="volver" href="index.html">
            <i class="fa fa-arrow-left"></i> Volver</a></li>
      </ul>
    </div>
  </nav>

  <div id="wordsContainer"></div>
  <button style="float: right" id="btn">Obtener Lista</button>

  <div class="input-field col s3">
    <select id="mySelector">
      <option value="" disabled selected>Seleccione tipo de imagenes</option>
      <option value="Real" selected="selected">Imagen Real</option>
      <option value="Dibujo">Dibujo</option>
    </select>
    <label>Tipo de Palabra</label>
  </div>

  <script src="../js/configDenominacion.js">  </script>
  <script type="text/javascript" src="../node_modules/materialize-css/dist/js/materialize.min.js"></script>




</body>

</html>