<html lang="en">

<head>
 <meta charset="UTF-8">
 <meta name="viewport"
 content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <link href="../css/cuentos.css" rel="stylesheet" type="text/css">
 <link href="../css/sidebar.css" rel="stylesheet" type="text/css">
 <link type="text/css" rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css">
 <link type="text/css" rel="stylesheet" href="../node_modules/materialize-css/dist/css/materialize.css"
 media="screen,projection" />
 <link href="../node_modules/material-icons/iconfont/material-icons.css" rel="stylesheet" />
 <title>NombreApp</title>
</head>

<body onload="cargarEjercicio()">
 <div class="row">
 <!-- ////////////////////////////////////////////////// -->
 <!-- INICIA LA BARRA LATERAL -->
 <!-- ////////////////////////////////////////////////// -->
 <div class="col s">
  <div class="barramenu sidenav-trigger" data-target="menu" >
  <i class="iconomenu fa fa-chevron-right"></i>
  </div> 
   
  <ul id="menu" class="sidenav sidenav" style="width:23vw">
  <li>
  <div class="user-view">
  <a href="#user"><img class="circle z-depth-5" id="imgdocente" src=""></a>
  <a href="#name"><span id="hola" class="white-text name">Hola!</span></a>
  <a href="#name"><span id="nombredocente" class="white-text name"></span></a>
  <a href="#email"><span class="white-text email"></span></a>   
  </div>
  </li>
  <li ><a  id="reiniciar" href="index.html">VOLVER AL INICIO</a></li>
  </ul>
  </div>
 <!-- TERMINA LA BARRA LATERAL -->
 <!-- ////////////////////////////////////////////////// -->
 <!-- ////////////////////////////////////////////////// -->
 <!-- ////////////////////////////////////////////////// -->
 <!-- INICIA EL BLOQUE DEL CUENTO -->
 <div class="col s11">
 
 <!-- INICIA CONTENEDOR DONDE SE MUESTRA LA IMAGEN -->
 <div class="contenedorcuento" id="contenedorcuento">

 
 
 </div>
 <!-- TERMINA CONTENEDOR DONDE SE MUESTRA LA IMAGEN -->
 <div class="contenedortexto col s11">
 <!-- /////////////////////////////// -->
 <!-- Boton Volver -->
 <div class="col s1 ">
 <a class="btnatras" onclick="retrocederEjercicio()"><i class="iconoatras material-icons">chevron_left</i></a>
 </div>
 <!-- Boton Volver -->
 <!-- //////////////////////////////// -->
 <!-- Texto del cuento -->
 <h3 class="textocuento col s9 offset-s1" id="contenedortexto">

 </h3>
 <!-- Texto del cuento -->
 <!-- /////////////////////////////// -->
 <!-- Boton siguiente -->
 <!--<div class="col s1">  
 <a class="btnsiguiente" onclick="iniciarEjercicio()"><i class="iconosiguiente material-icons">forward</i></a>
 </div>-->
 <div class="col s1"> 
 <a class="btnsiguiente" onclick="avanzarEjercicio()"><i class="iconosiguiente material-icons">chevron_right</i></a>
 </div>
 <!-- Boton siguiente -->
 <!-- /////////////////////////////// -->
 </div>   



 </div>
 <!-- TERMINA EL BLOQUE DEL CUENTO -->
 <!-- ////////////////////////////////////////////////// -->
 <!-- ////////////////////////////////////////////////// -->
 <!-- ///////////////////////////////////////////////// -->
 <!-- ///////////////////////////////////////////////// -->

 <!-- ACA ADENTRO SE GENERAN LOS MODAL PARA CADA PASO DEL CUENTO -->
 <div id="generarmodal">


 </div>
 <!-- ACA ADENTRO SE GENERAN LOS MODAL PARA CADA PASO DEL CUENTO -->
 </div>
</body>
 <!--JavaScript at end of body for optimized loading-->
 <script type="text/javascript" src="../node_modules/materialize-css/dist/js/materialize.min.js"></script>
 <script src="../node_modules/jquery/dist/jquery.js" onload="window.$ = window.jQuery = module.exports;"></script>
 <script src="../js/index.js"></script>
 <!--JavaScript at end of body for optimized loading-->
 <script type="text/javascript" src="../node_modules/materialize-css/dist/js/materialize.min.js"></script>
 <script>
   document.addEventListener('DOMContentLoaded', function() {
   var elems = document.querySelectorAll('.sidenav');
   var instances = M.Sidenav.init(elems, { 
   inDuration: 500, 
   outDuration:400, 
   });
   });
 </script>
 <!-- Javascript para la logica del cuento animado -->
 <script src="../js/cuentos.js"></script>
</body>
</html>