<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>NombreApp</title>
		<link type="text/css" rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css" />
		<link href="../css/festejofinal.css" rel="stylesheet" type="text/css" />
		<link href="../css/sidebar.css" rel="stylesheet" type="text/css" />
		<link
			type="text/css"
			rel="stylesheet"
			media="screen,projection"
			href="../node_modules/materialize-css/dist/css/materialize.css"
			media="screen,projection"
		/>
	</head>
	<body id="festejo">
		<div class="row">
			<div class="col s">
				<div class="barramenu sidenav-trigger" data-target="menu">
					<i class="iconomenu fa fa-chevron-right"></i>
				</div>
				<ul id="menu" class="sidenav sidenav" style="width:23vw">
					<li>
						<div class="user-view">
							<a href="#user"><img class="circle z-depth-5" id="imgdocente" src=""/></a>
							<a href="#name"><span id="hola" class="white-text name">Hola!</span></a>
							<a href="#name"><span id="nombredocente" class="white-text name"></span></a>
							<a href="#email"><span class="white-text email"></span></a>
						</div>
					</li>
					<li><a id="reiniciar" href="index.html">REINICIAR EJERCICIO</a></li>
					<li><a id="terminar" href="index.html">TERMINAR EJERCICIO</a></li>
				</ul>
			</div>

			<div class="row">
				<div class="col s3 offset-s2"><img id="ilustracion" src="../public/images/festejofinal.png" /></div>
				<div class="col s offset-s1">
					<p id="textofelicitaciones">FELICITACIONES JUAN!</p>
					<a href="index.html"> <button class="finalizar teal lighten-3">FINALIZAR</button></a>
				</div>
			</div>
		</div>

		<script>
			let nombre = sessionStorage.getItem('nombreDias');
			let texto = document.getElementById(textofelicitaciones);
			textofelicitaciones.innerHTML = `FELICITACIONES ${nombre.toUpperCase()}!`;
		</script>
		<script src="../node_modules/jquery/dist/jquery.js" onload="window.$ = window.jQuery = module.exports;"></script>
		<script src="../js/index.js"></script>
		<script src="../js/letterAvatar.js"></script>
		<!--JavaScript at end of body for optimized loading-->
		<script type="text/javascript" src="../node_modules/materialize-css/dist/js/materialize.min.js"></script>
		<script>
			document.addEventListener('DOMContentLoaded', function() {
				var elems = document.querySelectorAll('.sidenav');
				var instances = M.Sidenav.init(elems, {
					inDuration: 500,
					outDuration: 400
				});
			});
		</script>
	</body>
</html>
