<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>NombreApp</title>
		<!-- Compiled and minified CSS -->
		<link type="text/css" rel="stylesheet" href="../node_modules/materialize-css/dist/css/materialize.css" media="screen,projection" />
		<link type="text/css" rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css" />
		<link href="../node_modules/material-icons/iconfont/material-icons.css" rel="stylesheet" />
		<link href="../css/nuevosestilos.css" rel="stylesheet" type="text/css" />
		<link href="../css/sidebar.css" rel="stylesheet" type="text/css" />
	</head>

	<body>
		<a class=" sidenav-trigger" data-target="menu">
			<i class="icono fa fa-chevron-right"></i>
		</a>

		<div class="row">
			<div class="col s3">
				<ul id="menu" class="sidenav sidenav-fixed" style="width:23vw">
					<li>
						<div class="user-view">
							<a href="#user"><img class="circle z-depth-5" id="imgdocente"/></a>
							<a href="#name"><span id="hola" class="white-text name">Hola!</span></a>
							<a href="#name"><span id="nombredocente" class="white-text name"></span></a>
							<a href="#email"><span class="white-text email"></span></a>
						</div>
					</li>

					<li><a class="primerenlace" href="#">EJERCICIOS</a></li>
					<li><a class="segundoenlace" href="estudiantes.html">ESTUDIANTES</a></li>
					<li><a class="segundoenlace" href="#">CONFIGURACIÓN</a></li>
					<li><a id="btnSalir" class="segundoenlace" href="#">SALIR</a></li>
				</ul>
			</div>

			<div class="contbotones col s4 ">
				<a draggable="false " href="configuracionDenominacion.html"> <button class="ejercicios teal lighten-3 ">DENOMINACIÓN</button></a>

				<a draggable="false "href="configuracionDias.html"> <button class="ejercicios  teal lighten-3">DÍAS DE LA SEMANA</button></a>

				<a draggable="false " href="cuentopirata1.html"> <button class="ejercicios  teal lighten-3">CUENTOS</button></a ">

				<a href="resultados.html"> <button class="ejercicios  teal lighten-3">DACTILOLÓGICO</button></a>

				<a href="nuevologin.html"> <button class="ejercicios  teal lighten-3">QUE ES? QUIEN ES? COMO ES? QUE HACE?</button></a>
			</div>

			<div class="col s3 offset-s2">
				<h3 id="nombreapp">CHARLIE</h3>
				<img id="ilustracion" src="../public/images/Bienvenido.png" />
			</div>
		</div>
		<script src="../js/letterAvatar.js"></script>
		<script type="text/javascript" src="../node_modules/materialize-css/dist/js/materialize.min.js"></script>
		<script src="../node_modules/jquery/dist/jquery.js" onload="window.$ = window.jQuery = module.exports;"></script>

		<script>
			document.addEventListener("DOMContentLoaded", function() {
				var elems = document.querySelectorAll(".sidenav");
				var instances = M.Sidenav.init(elems, {});
			});
		</script>
		<script src="../js/index.js"></script>
	</body>
</html>
