<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../node_modules/material-icons/iconfont/material-icons.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Inicio Sesión</title>
	</head>
	<body>
		<div class="row">
			<p1>Inicio Sesion Docentes</p1>
			<ul id="listaDocentes" class="collection"></ul>
		</div>
		<button id="btnIniciarSesion" class="btn waves-effect waves-light">
			Iniciar Sesion
			<i class="material-icons right">send</i>
		</button>
		<button id="btnNuevo" class="btn waves-effect waves-light">
			Nuevo Docente
			<i class="material-icons right">add</i>
		</button>
	</body>
	<script src="../js/login.js"></script>
</html>
